<section class="bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center px-4 py-4 gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card bg-dark" style="border-radius: 15px;">
            <div class="card-body p-5  text-white">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="registerForm" (ngSubmit)="register()">

                <div class="form-outline mb-4">
                  <input type="text" id="username" formControlName="username" class="form-control form-control-lg" />
                  <label class="form-label" for="username">Username</label>
                  <div class="error" *ngIf="registerForm.controls['username'].errors?.['required']">
                    Username is required.
                  </div>
                  <div class="error" *ngIf="registerForm.controls['username'].errors?.['minlength'] || registerForm.controls['username'].errors?.['maxlength']">
                    Username must be between least 2 and 20 characters.
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="email" formControlName="email" class="form-control form-control-lg" />
                  <label class="form-label" for="email">Email</label>
                  <div class="error" *ngIf="registerForm.controls['email'].errors?.['required']">
                    Email is required.
                  </div>
                  <div class="error" *ngIf="registerForm.controls['email'].errors?.['email']">
                    Email must fullfil email requirements.
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="password" formControlName="password" class="form-control form-control-lg" />
                  <label class="form-label" for="password">Password</label>
                  <div class="error" *ngIf="registerForm.controls['password'].errors?.['required']">
                    Password is required.
                  </div>
                  <div class="error" *ngIf="registerForm.controls['password'].errors?.['minlength']">
                    Password must be at least 6 characters.
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control form-control-lg" />
                  <label class="form-label" for="confirmPassword">Repeat your password</label>
                  <div class="error" *ngIf="registerForm.controls['confirmPassword'].errors?.['required']">
                    Confirming password is required.
                  </div>
                  <div class="error" *ngIf="registerForm.controls['confirmPassword'].errors?.['mustMatch']">
                    Passwords must match.
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="phone" class="form-control form-control-lg" />
                  <label class="form-label" for="phone">Phone</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="number" id="age" formControlName="age" class="form-control form-control-lg" />
                  <label class="form-label" for="age">Age</label>
                  <div class="error" *ngIf="registerForm.controls['age'].errors?.['required']">
                    Age is required.
                  </div>
                  <div class="error" *ngIf="registerForm.controls['age'].errors?.['min'] || registerForm.controls['age'].errors?.['max']">
                    Age must be between 18 and 99.
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="firstName" formControlName="firstName" class="form-control form-control-lg" />
                  <label class="form-label" for="firstName">First Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="lastName" formControlName="lastName" class="form-control form-control-lg" />
                  <label class="form-label" for="lastName">Last Name</label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" [disabled]="!registerForm.valid">Register</button>
                </div>

                <p class="text-center mt-5 mb-0 text-white">Have already an account? <a routerLink="/login"
                    class="fw-bold text-white"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>