
  <div class="card h-100">
    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem"*ngIf="product?.isOnSale">Sale</div>
      <!-- Product image-->
      <img class="card-img-top" [src]="src" alt="..." />
      <!-- Product details-->
      <div class="card-body p-4">
          <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{product.name}}</h5>
              <!-- Product price-->
              <div *ngIf="product.isOnSale">
              <span class="text-muted text-decoration-line-through">{{oldPrice | number:'1.2-2'}}</span>
              {{price | number:'1.2-2'}}
              </div>
              <span *ngIf="!product.isOnSale">{{price | number:'1.2-2'}}</span>
          </div>
      </div>
      <!-- Product actions-->
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/product-details', product.id]">Details</a></div>
      </div>
  </div>